DirectoryIndex index.php
RewriteEngine On
RewriteBase /blog/
RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|robots\.txt)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?rt=$1 [L,QSA]